<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Huseyin POLAT - Software Engineer | Ex-Microsoft">
    <meta name="author" content="Huseyin Polat">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hüseyin Polat</title>
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/sneat/assets/vendor/fonts/boxicons.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        @* <h1>Hüseyin Polat - CV</h1> *@
        <nav style="display: flex;">
      
            <ul class="nav-menu">
                <li><a href="#personal-info">Personal Information</a></li>
                <li><a href="#tech-stack">Tech Stack</a></li>
                @* <li><a href="#info">Summary</a></li> *@
                <li><a href="#github-projects">GitHub Projects</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#education">Education</a></li>
            </ul>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/huseyin-polat" target="_blank" class="linkedin">
                    <i class='bx bxl-linkedin'></i>
                </a>
                <a href="https://github.com/hpolatt" target="_blank" class="github">
                    <i class='bx bxl-github'></i>
                </a>
            </div>
        </nav>
    </header>

    <section id="personal-info">
        <h2>Personal Information</h2>
        <p><strong>Full Name:</strong> Hüseyin POLAT</p>
        <p><strong>Title:</strong> Sr. Software Developer</p>
        <p><strong>Email:</strong> mr.huseyin.polat@gmail.com</p>
        <p><strong>Birthdate:</strong> 08.12.1992</p>
        <p><strong>Driver License:</strong> B</p>
        <p><strong>Military Service:</strong> Completed</p>

         <h2>Summary</h2>
        <p>I'm a Software Engineer with over 8 years of experience in backend development, system integrations,
            and creating services. Currently, I'm working as a Senior Software Developer at TelescopeLabs, where I
            specialize in integrating systems and analyzing blockchain data. My expertise includes working with a wide
            range of programming languages and technologies, particularly in cloud environments like Azure.</p>
    </section>

    <section id="tech-stack">
        <h2>Tech Stack</h2>
        <ul>
            <li><strong>Backend:</strong> <i class='bx bx-code'></i> C#, <i class='bx bxl-spring-boot'></i> Java, <i
                    class='bx bxl-nodejs'></i> NodeJS, <i class='bx bxl-python'></i> Python</li>
            <li><strong>Framework:</strong> .NET Core, Entity Framework, ASP.NET MVC, ASP.NET Web API, Spring Boot</li>
            <li><strong>FrontEnd:</strong> <i class='bx bxl-html5'></i> HTML, <i class='bx bxl-javascript'></i>
                JavaScript, <i class='bx bxl-jquery'></i> jQuery, <i class='bx bxl-css3'></i>CSS</li>
            <li><strong>Database:</strong> SQL Server, MySQL, KQL(Kusto) Oracle, Cosmos DB, BigQuery, Postgres</li>
            <li><strong>Service Bus:</strong> Azure Service Bus, RabbitMQ</li>
            <li><strong>CI/CD:</strong> Azure DevOps, GitHub Actions, Jenkins, Docker</li>
            <li><strong>Cloud:</strong> Azure</li>
        </ul>
    </section>

    <section id="github-projects">
        <h2>GitHub Projects</h2>
        @RenderBody()
    </section>

   <section id="experience">
    <h2>Experience</h2>

    <div class="experience-item">
        <h3>Senior Backend Developer</h3>
        <p><strong>Telescope Labs</strong> (Sept 2022 - Present, London, UK)</p>
        <ul>
            <li>I have developed and leaded Blockchain data synchronize;</li>
            <ul style="list-style: circle; padding-left: 2.5rem; padding-bottom: 0.4rem;">
                <li>More than 3 Billion Contract base Blockchain data(bsc, eth, solana, polygon, wax, ...) synced</li>
                <li>More than 300K NFT synced</li>
            </ul>
            <li>Trino(presto) installation, preparing service of triggering the Trino.</li>
            <li>Working on Custom data model for preparing query for different databases.</li>
            <ul style="list-style: circle; padding-left: 2.5rem; padding-bottom: 0.4rem;">
                <li>I have imported several BI tools(Looker, Metabase, PowerBI)</li>
                <li>I have imported several Databases(SQL Server, Snowflake, BigQuery, Redshift)</li>
            </ul>
            <li>Product deploying with Azure DevOPS</li>
            <li>And requested other services</li>
        </ul>
        <p><strong>Technologies:</strong> Azure Service Bus, Azure Function App, Durable Functions, Storage Account, Event Hubs, MySQL, CosmosDB(NoSQL), ADX.</p>
    </div>

    <div class="experience-item">
        <h3>Software Engineer</h3>
        <p><strong>Microsoft Corporation</strong> (Feb 2022 - Sept 2022, Redmond, WA)</p>
        <ul>
            <li>Creating/Maintenance HitApps.</li>
            <li>Creating/Maintenance Scheduled Python service for Process Judges. Judge process;</li>
            <ul style="list-style: circle; padding-left: 2.5rem; padding-bottom: 0.4rem;">
                <li>Uploading Sample data from ADX to HitApp portal</li>
                <li>After Judging analysis it with ML model and ingesting to ADX.</li>
                <li>Creating Dashboards for monitoring the judges.</li>
            </ul>
        </ul>
        <p><strong>Technologies:</strong> Azure ML Studio, Azure DevOps, Python Service, Azure Data Explorer(ADX)</p>
    </div>

    <div class="experience-item">
        <h3>Senior Software Engineer</h3>
        <p><strong>Hotech</strong> (Jan 2017 - Feb 2022, Antalya, Turkey)</p>
        <ul>
            <li>Creating/Maintenance Integration System to PMS.</li>
            <ul style="list-style: circle; padding-left: 2.5rem; padding-bottom: 0.4rem;">
                <li>Device: Switchboard, Door lock system</li>
                <li>Data: E-Invoice, Channel Manager, Accounting, Other PMS, ...</li>
            </ul>
            <li>Creating/Maintenance Trigger, Stored Procedure, Index, View, ...</li>
        </ul>
        <p><strong>Technologies:</strong> REST, SOAP, TCP, COMM, Firebird(Database), Oracle, SQL Server, PostgreSQL</p>
    </div>
</section>

    <section id="education">
        <h2>Education</h2>
        <p><strong>University:</strong> Fırat University - Software Engineering</p>
        <p><strong>High School:</strong> Atatürk Technical and Industrial Vocational School - Network Systems</p>
    </section>

    <section id="download-cv">
        <h2>Download CV</h2>
        <a class="cv-indir-button" style="margin-bottom: 100px;" href="/cv/huseyin.polat.pdf" target="_blank"> Click to
            Download CV</a>
    </section>

    <footer style="margin-top: 10px;">
        &copy; 2024 Hüseyin POLAT
    </footer>
     <script>
        // Mobil menü için JavaScript
        const mobileMenu = document.getElementById('mobile-menu');
        const navMenu = document.querySelector('.nav-menu');
        const social = document.querySelector('.social-links');

        mobileMenu.addEventListener('click', () => {
            navMenu.classList.toggle('active');
            social.classList.toggle('display-none');
            
        });
    </script>
</body>
</html>
