@model IEnumerable<ArticleDto>

@foreach (var article in Model)
{
    <div class="article">
        <h2 class="article-title">@article.Title</h2>
        <div class="article-content">
            <p>@article.Content</p>
        </div>
        <div class="article-category">
            <p>@article.CreatedBy</p>
            <p>@article.CreatedTime</p>
        </div>
        <hr />
    </div>
}    
